global
    log /dev/log local0
    maxconn 4096
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  forwardfor
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend r3_front
    bind *:80
    default_backend r3_back

backend r3_back
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    http-request set-header X-Real-IP %[src]
    server web01 10.227.94.80:8000 check inter 5s fall 3 rise 2
    server web02 10.227.80.144:8000 check inter 5s fall 3 rise 2
